:root {
    --base-color: #75c8b4;
    --accent-color: #e7ea14;
    --text-color: #242728;
    --small-hero-height: 550px;
}

/* MENU */
.main_nav ul li.active a {
    font-weight: 600;
}

/* RATING */
.rating_1 i:first-child {
    color: #fba40e;
}
.rating_2 i:first-child {
    color: #fba40e;
}
.rating_2 i:nth-child(2) {
    color: #fba40e;
}
.rating_3 i:first-child {
    color: #fba40e;
}
.rating_3 i:nth-child(2) {
    color: #fba40e;
}
.rating_3 i:nth-child(3) {
    color: #fba40e;
}
.rating_4 i:first-child {
    color: #fba40e;
}
.rating_4 i:nth-child(2) {
    color: #fba40e;
}
.rating_4 i:nth-child(3) {
    color: #fba40e;
}
.rating_4 i:nth-child(4) {
    color: #fba40e;
}
.rating_5 i:first-child {
    color: #fba40e;
}
.rating_5 i:nth-child(2) {
    color: #fba40e;
}
.rating_5 i:nth-child(3) {
    color: #fba40e;
}
.rating_5 i:nth-child(4) {
    color: #fba40e;
}
.rating_5 i:nth-child(5) {
    color: #fba40e;
}

/* HEADER LOGO */
.logo {
    height: 100%;

    img {
        height: 60%;
    }

    .logo-link {
        height: 100%;
        display: flex;
        align-items: center;
    }
}

/* FOOTER LOGO */
.footer {
    padding-top: 40px;
    border-top: solid 1px var(--base-color);
    padding-bottom: 0;

    .footer_logo {
        .logo {
            img {
                width: 160px;
                height: auto;
            }
        }
    }

    .footer_content {
        padding-bottom: 130px;
    }
}

/* BOTTONI COLORE ACCENTO */
.accent {
    background: var(--accent-color);
    color: var(--text-color);
}
.button.accent {
    background: var(--accent-color);

    & a {
        color: var(--text-color);
    }

    & a::before {
        background: rgba(255, 255, 255, 0.4);
    }
}

/* TESTO ACCENTO */
.accent-text {
    color: var(--accent-color);
}

/* PHONE */
.phone.accent-color {
    border: solid 1px var(--accent-color);
    box-shadow:
        0 0 1px 0 var(--accent-color) inset,
        0 0 1px 0 var(--accent-color);

    svg {
        margin-right: 8px;
    }

    a {
        color: var(--accent-color);
    }
}

.menu_phone {
    &.accent {
        background: transparent;
        border: solid 1px var(--accent-color);

        a {
            color: var(--accent-color);
        }
    }

    svg {
        margin-right: 8px;
    }
}

/* ICONE CORSI */
.service_icon svg {
    width: 100%;
    height: 100%;
    color: var(--base-color);
}

/* FOOTER */
.footer_nav,
.newsletter_container {
    margin-top: 40px;
}

.footer_image {
    opacity: 0.4;
}

.newsletter_input {
    border: solid 1px var(--base-color);
}

.newsletter_button {
    background: var(--base-color);
    width: 120px;
    border-radius: 31px;
}

/* MENU */
.menu {
    background: rgba(0, 0, 0, 0.95);
}

/* SERVICES */
.services {
    padding-bottom: 80px;

    &.small {
        padding-top: 40px;
        padding-bottom: 40px;

        .services_row {
            margin-top: 52px;
        }

        .container {
            z-index: 2;
        }

        .overlay {
            bottom: -200px;
            left: -50px;
            width: 140%;
        }
    }
}

.background_image.cover {
    background-size: cover;
}

/* ABOUT PAGE */
.home.small {
    height: var(--small-hero-height);

    .home_title {
        font-size: 72px;
        margin-top: 60px;
    }

    .home_subtitle {
        font-size: 16px;
    }
}
.section_title {
    text-wrap: nowrap;
}

.about.small {
    padding-top: 40px;
    padding-bottom: 200px;

    .about_image {
        position: absolute;
        left: auto;
        right: 25%;
        bottom: 20px;
        max-width: 75%;
        width: 75%;
        transform: translateX(50%);

        img {
            max-width: 100%;
        }
    }
}

/* TEAM */
.team {
    padding-top: 312px;
    padding-bottom: 179px;
}
.team .section_title {
    color: #fff;
}
.team_row {
    margin-top: 70px;
}
.team_item {
    width: 100%;
}
.team_item img {
    max-width: 100%;
}
.team_panel {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: -48px;
    width: 233px;
    height: 80px;
    background: var(--base-color);
}
.team_name a {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}
.team_title {
    font-size: 10px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 3px;
}

/* SKILLS */
.skills {
    padding-top: 100px;
    padding-bottom: 100px;
}
.skills_content {
    padding-bottom: 14px;
}
.skills .section_title {
    font-size: 48px;
    margin-top: 6px;
}
.skills_text {
    margin-top: 31px;
}
.skill_bars {
    height: 4px;
    width: 100%;

    svg {
        height: 4px;
    }
}
.progress_bar_container {
    margin-top: 52px;
}
.pb_item {
    display: block;
    position: relative;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.pb_item:last-child {
    margin-bottom: 0px;
}
.pb_item h5 {
    font-size: 14px;
    line-height: 0.75;
    font-weight: 600;
    margin-top: 33px;
    color: #262626;
}
.progressbar-text {
    top: 37px !important;
    width: 100%;
    right: 0;
    position: absolute;
    text-align: right;
    /* clear: both; */
    line-height: 0.75 !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    color: #262626 !important;
    width: 50%;
}
.extra {
    width: 100%;
    height: 100%;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 50px;
    padding-bottom: 65px;
}
.extra_title {
    font-family: "Allerta Stencil", sans-serif;
    font-size: 60px;
    color: #ffffff;
    line-height: 1.1;
}
.extra_text {
    text-align: center;
    margin-top: 32px;
}
.extra_text p {
    color: #ffffff;
    font-weight: 600;
}
.extra_button {
    border: solid 1px #ffffff;
    margin-top: 47px;
}

/* COURSES */
.testimonials {
    &.component .test:not(:last-child) {
        margin-bottom: 0;
    }

    &.component .test_1 {
        margin-top: 0px;
    }

    .locations {
        display: flex;
        gap: 16px;
    }
}

/* BLOG */
.blog {
    background: #ffffff;
    padding-top: 20px;
    padding-bottom: 100px;
}
.blog_row {
    margin-top: 100px;
}
.blog_col {
    margin-bottom: 49px;
}
.blog_post_image {
    width: 100%;
}
.blog_post_image img {
    max-width: 100%;
}
.blog_post_title {
    margin-top: 20px;
}
.blog_post_title a {
    font-size: 24px;
    font-weight: 400;
    color: #262626;
    line-height: 1.1;
}
.blog_post_title a:hover {
    color: #75c8b4;
}
.blog_post_date {
    margin-top: 4px;
}
.blog_post_date a {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: #75c8b4;
}
.blog_post_text {
    margin-top: 22px;
}
.blog_post_text p {
    font-weight: 500;
    color: #535353;
}
.blog_post_link {
    margin-top: 36px;
}
.blog_post_link a {
    font-size: 12px;
    font-weight: 400;
    color: #75c8b4;
}
.blog_button {
    margin-top: 46px;
}

/* CONTACTS */
.contact {
    background: #ffffff;
    padding-top: 20px;
    padding-bottom: 100px;

    .overlay {
        left: -100px;
        bottom: -220px;
        z-index: 1;
    }

    .contact_col {
        z-index: 2;
    }
}

.contact_logo .logo {
    left: auto;

    img {
        width: 200px;
    }
}
.contact_logo .logo > div {
    color: #262626;
}
.contact_text {
    margin-top: 30px;
}
.contact_list {
    padding-left: 34px;
    margin-top: 51px;
    max-width: 230px;
}
.contact_list ul li:not(:last-of-type) {
    margin-bottom: 26px;
}
.contact_list ul li > div:first-of-type > div {
    width: 30px;
    font-size: 14px;
    font-weight: 400;
    color: #75c8b4;
    line-height: 1.714;
}
.contact_list ul li > div:last-of-type {
    font-size: 14px;
    font-weight: 400;
    color: #535353;
    line-height: 1.714;
}
.contact_title {
    font-size: 24px;
    font-weight: 400;
    color: #262626;
    line-height: 1;
}
.contact_form_container {
    margin-top: 45px;
}
.contact_input {
    width: 100%;
    height: 52px;
    border: none;
    outline: none;
    background: #eff4f6;
    padding-left: 25px;
    border-left: solid 2px transparent;
}
.contact_input:focus,
.contact_input:hover {
    border-left: solid 2px #75c8b4;
}
.input_item {
    margin-bottom: 12px;
}
.contact_input::-webkit-input-placeholder {
    font-size: 12px !important;
    font-weight: 400 !important;
    font-style: italic;
    color: #bdbdbd !important;
}
.contact_input:-moz-placeholder {
    font-size: 12px !important;
    font-weight: 400 !important;
    font-style: italic;
    color: #bdbdbd !important;
}
.contact_input::-moz-placeholder {
    font-size: 12px !important;
    font-weight: 400 !important;
    font-style: italic;
    color: #bdbdbd !important;
}
.contact_input:-ms-input-placeholder {
    font-size: 12px !important;
    font-weight: 400 !important;
    font-style: italic;
    color: #bdbdbd !important;
}
.contact_input::input-placeholder {
    font-size: 12px !important;
    font-weight: 400 !important;
    font-style: italic;
    color: #bdbdbd !important;
}
.contact_textarea {
    padding-top: 15px;
    height: 190px;
}
.contact_button {
    position: relative;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    z-index: 1;
    margin-top: 17px;
}
.contact_button::before {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    background: #75c8b4;
    width: 130px;
    height: 100%;
    border-radius: 22px;
    z-index: -1;
    content: "";
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.contact_button:hover::before {
    width: 100%;
}
.text-danger {
    margin-bottom: 12px !important;
}

/* SLIDESHOW */
.slideshow {
    display: flex;
    flex-wrap: wrap; /* Permette agli elementi di andare a capo */
    gap: 16px; /* Spaziatura tra le immagini (opzionale) */

    img {
        flex: 1 1 calc(33.333% - 16px); /* Ogni immagine occupa un terzo della larghezza meno il gap */
        max-width: calc(33.333% - 16px); /* Limita la larghezza al valore calcolato */
    }
}

/* CUSTOM CHECKBOX */
.acceptance-container {
    display: flex;
    align-items: center;
    justify-content: center;

    .acceptance-checkbox {
        display: none; // Nascondi il checkbox originale

        &:checked + .acceptance-label {
            &::before {
                background-color: var(--base-color);
                border-color: var(--base-color);
            }

            &::after {
                opacity: 1;
            }
        }
    }

    .acceptance-label {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        position: relative;
        padding-left: 1.5rem;
        cursor: pointer;
        line-height: 1.5;
        margin-bottom: 16px;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 1rem;
            height: 1rem;
            border: 2px solid var(--base-color);
            border-radius: 4px;
            background-color: #fff;
            transition:
                background-color 0.3s,
                border-color 0.3s;
        }

        &::after {
            content: "";
            position: absolute;
            left: 0.35rem;
            top: 50%;
            transform: translateY(-50%) rotate(45deg);
            width: 0.25rem;
            height: 0.5rem;
            border: solid #fff;
            border-width: 0 2px 2px 0;
            opacity: 0;
            transition: opacity 0.3s;
        }
    }
}
